# ── Dev (défaut) ─────────────────────────────
NODE_ENV=development
API_PORT=3000
HTTP_PORT=8080
APP_VERSION=dev

POSTGRES_DB=shoplite
POSTGRES_USER=shoplite
POSTGRES_PASSWORD=shoplite_password
DATABASE_URL=postgres://shoplite:shoplite_password@db:5432/shoplite

LOG_LEVEL=info

# ── Staging ───────────────────────────────────
# NODE_ENV=staging
# HTTP_PORT=8081
# APP_VERSION=staging
# POSTGRES_DB=shoplite_staging
# POSTGRES_USER=shoplite_staging
# POSTGRES_PASSWORD=shoplite_staging_password
# DATABASE_URL=postgres://shoplite_staging:shoplite_staging_password@db:5432/shoplite_staging

# ── Production ────────────────────────────────
# NODE_ENV=production
# HTTP_PORT=8082
# APP_VERSION=v1.0.0
# POSTGRES_DB=shoplite_prod
# POSTGRES_USER=shoplite_prod
# POSTGRES_PASSWORD=shoplite_prod_password
# DATABASE_URL=postgres://shoplite_prod:shoplite_prod_password@db:5432/shoplite_prod
